* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-image: url('/src/images/fon.png');
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}